<div class="search-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <form>
                    <h2 class="v-center">search</h2>
                    <p class="lead">/// Search Artists</p>

                    <div class="input-group">
                        <input type="text" ng-model="artists" class="form-control input-md" />
                        <span class="input-group-btn">
                     <button
                        type="button"
                        class="btn btn-md btn-warning pull-right"
                        ng-click="searchArtist()">Search</button>
                  </span>
                  </div>
                </form>
            </div>
                <div class="col-sm-8">
                    <div class="album text-muted" ng-if="results" class="results-block">
                        <div class="container" >
                            <div ng-repeat="artist in results" class="col-sm-10">
                                         <div ng-if="albums" class="col-sm-8" album-details >  </div>
                                <div ng-repeat="item in artist.items">
                                    <div class="card">
                                        <span ng-if="item.images.length > 0">
                                            <img style="width:200px;height:200px;" ng-src="{{item.images[0].url}}"/>
                                        </span>
                                        <span ng-if="item.images.length <=0 ">
                                            <img style="width:200px;height:200px;" ng-src="images/No_image.gif"/>
                                        </span>
                                        <!-- <p>{{item.id}}</p> -->
                                        <p class="card-text">Artist Name: {{item.name}}</p>
                                        <p><span ng-if="item.genres">  Genre: {{item.genres.join(' | ')}}  </span>
                                           <span ng-if="item.genres <=0 " >  Not Available</span>
                                        </p>
                                        
                                        <section>
                                            <button ng-click="showDetails(item.id)">Details</button>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                     
                </div>
        </div>
    </div>

<!--     <div ng-if="albums" >     -->              
<!--         <div ng-repeat="album in albums.items">
        <div class = "col-md-9">
            <span  ng-if="album.album_type === albumType">
                <span ng-repeat = "market in album.available_markets">
                    <span ng-if="market === 'US'">
                        <span class = "album_div">
                            <span>
                                <p>Album Name: {{album.name}}</p>
                                <p>Available Market: {{market}}</p>
                                <span ng-if="album.images.length > 0">
                                    <img style="width:120;height:120;" ng-src="{{album.images[0].url}}"/>
                                </span>
                                <span ng-if="album.images.length <=0 ">
                                    <img style="width:120;height:120;" ng-src="images/No_image.gif"/>
                                </span>
                                </span>
                            </span>
                        </span>
                    </span>

                </span>
            </div>
        </div> -->

</div>                 
        <!--      testing    for  variable api                 -->

        <!--<img data-src="holder.js/100px280/thumb" alt="Card image cap"> -->
        <!-- <p>{{album.available_markets}}</p>         -->
        <!--{{results.artists.items[0].images[0].url }}     -->